/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* UTILS */

.debug {
    min-height: 50px;
    padding: 5px;
    background-color: #ff000022;
    border: 2px dashed red;
}

.border {
    border: 1px dashed black;
}

/* HEADER */

header {
    background-color: #FF5B00;
    padding-bottom: 2px;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.header-top {
    display: flex;
    padding: 10px 350px;

}

.logo,
.link,
.icone {
    vertical-align: middle;
    font-size: small;
    display: flex;
    align-items: center;
    flex-basis: 200px;
}

.logo {
    text-align: center;
    flex-grow: 1;
}

.logo,
.icone {}

.icone {
    justify-content: flex-end;
    gap: 20px;
    color: white;
}

.link {
    flex-direction: row;
    align-items: center;

}

.link span {
    color: white;
    font-weight: 600;
    margin-right: 10px;

}

.logo img {
    width: 20%;
}

.logo {
    justify-content: center;
}

/* Main */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.container {

    margin: 50px 0;
    width: 450px;
}

.card {
    height: 1000px;
    height: 650px;
    width: 450.21px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.card * {
    position: absolute;
}

.foto {
    height: 650px;
}

.cuore {
    top: 13px;
    right: 0;
    font-size: 1.5rem;
    background-color: white;
    padding: 0 10px;
}

.cuore:hover {
    color: red;
    cursor: pointer;
}

.sconto {
    bottom: 30px;
    background-color: red;
    color: white;
    padding: 5px 10px;
}

.type {
    padding: 5px 10px;
    bottom: 30px;
    left: 80px;
    background-color: green;
    color: white;
}

.marca {
    font-size: 0.8rem;
}

.indumento {
    font-weight: 600
}

.prezzoprecedente {
    margin-left: 9px;
    text-decoration: line-through;

}

.prezzoscontato {
    font-weight: 600;
    color: red;
}

.foto:hover {
    display: none;
}